@model ViaticosWeb.Models.CityViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>City to country: @Model.Country.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCity" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountryId" />
            <input type="hidden" asp-for="Id" />

            <partial name="_City" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.CountryId" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
